// Override this file to add your own SCSS styling.

.ml-3 {
  width: 30%;
}

.media.stream-item img {
  max-width: 220px;
  height: auto;
  object-fit: cover;
}

.media.stream-item .article-title,
.card-simple .article-title {
  font-size: 1.0rem;
}
