// Override this file to add your own SCSS styling.

.media.stream-item img {
  max-width: 220px;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
}

.media.stream-item .article-title,
.card-simple .article-title {
  font-size: 1.0rem;
}
